<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row">
        <div class="col-12 col-md-12">

  <header id="header_id" class="navbar navbar-fixed-top">
    <div class="container">
      <nav class="navigation">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path  %></li>
          <% if user_signed_in? %>
          <li><%= link_to "My Property", properties_path %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete  %>
          <% else %>
          <li><%= link_to "Sign In", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>                
        </div>
    </div>